.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradle/
# maven #
target
logs

# eclipse #
.settings
.project
.classpath
.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/
overlays
bin


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/