<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.battcn.mapper.UserMapper">





  <insert id="insertA" parameterType="com.battcn.entity.User">
    INSERT INTO a.t_user(`username`,`password`) VALUES (#{username},#{password})
  </insert>

  <insert id="insertB" parameterType="com.battcn.entity.User">
    INSERT INTO b.t_user(`username`,`password`) VALUES (#{username},#{password})
  </insert>


</mapper>